<ion-header>
  <ion-navbar color="red">
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
      </button>
    <ion-title>People @ Choate</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
    <ion-searchbar placeholder="Search Contacts" [(ngModel)]="searchTerm">
    </ion-searchbar>
    <ion-list>
        <ion-card *ngIf="employees.length == 0 && loadingComplete == 1">
            <ion-card-content>
                No Data to Display here.
            </ion-card-content>
        </ion-card>
        <ion-card *ngFor="let item of employees" (click)="itemSelected(item)">
            <ion-card-content>
                <ion-item-sliding #SlideItem>
                    <ion-item>
                        <ion-thumbnail item-left>
                            <img src="https://azlabchoatestore.blob.core.windows.net/person-photo/{{item.tkid}}.jpg" onerror="this.src='https://azlabchoatestore.blob.core.windows.net/person-photo/noPhoto.jpg'"/> 
                        </ion-thumbnail>
                        <strong>{{item.fullName}}</strong><br/>
                        <span style="font-size:0.8em;">
                        {{item.department}}<br/>
                        {{item.jobTitle}}<br/>
                        617-248-{{item.extension}}
                        </span>
                    </ion-item>
                    <ion-item-options side="left">
                        <button ion-button (click)="favorite(item)">
                        <ion-icon name="{{item.isFavorite}}"></ion-icon>
                        Favorite
                        </button> <!---->
                    </ion-item-options>

                    <ion-item-options side="right">
                        <button ion-button (click)="call(item.extension)">
                        <ion-icon name="call" ></ion-icon>
                        Office
                        </button>
                        <button ion-button color="danger" (click)="call(item.altPhone)" *ngIf="item.altPhone != null">
                        <ion-icon name="phone-portrait"></ion-icon>
                        Mobile
                        </button>  
                        <a href="mailTo:{{item.email}}" ion-button color="green">
                        <ion-icon name="mail"></ion-icon>
                        E-mail
                        </a>
                    </ion-item-options>
                </ion-item-sliding>
            </ion-card-content>
        </ion-card>
    </ion-list>
</ion-content>
