page-people{

    ion-card-content {
        padding: 0px !important;
    }
    img{
        box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2);
        border-radius: 2px;
        max-width: 9rem !important;
        max-height: 9rem !important;
    }
}